@font-face {
	font-family: 'Stem';
	src: url('../fonts/Stem-Regular.woff2') format('woff2'),
		url('../fonts/Stem-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Stem';
	src: url('../fonts/Stem-Medium.woff2') format('woff2'),
		url('../fonts/Stem-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Stem';
	src: url('../fonts/Stem-Bold.woff2') format('woff2'),
		url('../fonts/Stem-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../fonts/Gilroy-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
		url('../fonts/Gilroy-SemiBold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'ABeeZee';
	src: url('../fonts/ABeeZee-Regular.woff2') format('woff2'),
		url('../fonts/ABeeZee-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
