.action {
	padding-block: 100px;
	background: url(./../img/action/action.webp) center / cover no-repeat;
	height: 872px;

	&-title {
		font-weight: 700;
		font-size: 48px;
		line-height: 1.08333;
		color: #fff;
	}

	&-subtitle {
		font-size: 18px;
		color: rgba(255, 255, 255, 0.8);
	}
}
