.btn,
a.btn {
	display: inline-block;
	padding: 16px 32px;
	border-radius: 6px;
	background-color: #00bdf8;

	font-size: 18px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	text-decoration: none;

	transition: background-color 0.2s ease-in;

	&:hover {
		background-color: #333;
	}

	&--wide {
		width: 100%;
	}
}

.header-btn {
	padding: 12px 28px;
	font-size: 15px;
	transition: 0.2s ease-in;
	&:hover {
		background-color: #1585a7;
	}
}
