.arrow {
	position: absolute;
	bottom: 47px;
	left: 50%;
	width: 40px;
	height: 18px;
	fill: #fff;
	transform: translateX(-50%);
	z-index: 1;
}

.svg-persent {
	width: 48px;
	height: 48px;
	fill: #00bdf8;
}

.svg {
	width: 56px;
	height: 56px;
	fill: #00bdf8;

	&:hover {
		fill: #b2dbe7;
	}
}
