.input {
	width: 100%;
	padding: 13px 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	background: #fff;
	&::placeholder {
		font-weight: 400;
		font-size: 18px;
		color: rgba(0, 0, 0, 0.2);
		line-height: 1.33333;
	}
	&:active,
	&:focus {
		border: 1px solid #3c82d3;
	}
}
